

*{
    margin: 0;
}
.cube{
  height: 100vh;
  width: 24%;
  float:left;
  border: solid 1px black;
}
.one{
  background-image: url(one.jpeg);
    background-position: center;
    background-size: cover;
    
}

.two{
   background-image: url(two.jpeg);
    background-position: center;
    background-size: cover;
    
}

.three{
     background-image: url(three.jpeg);
    background-position: center;
    background-size: cover;
    overflow: hidden;}
  
.four{
    background-image: url(four.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    }


.one:hover{
    animation-name: one;
    animation-duration: 0.5s;
    animation-iteration-count:1;
    
    
}

@keyframes one{
    0%{
        width: 24%;
    }
    100% {
        width: 30%;
    }
    
    
    one:hover{
    
       animation-name: one-1;
    animation-duration: 0.5s;
    animation-iteration-count:1;
     
    }   
    
    @keyframes one-1{
    .two, .tree, .four{
        0%{
            width: 24%;
         }
        
        100%{
            width: 20%;
        }
    }
    s
}





















